docopt==0.6.2
elasticsearch==2.4.0
numpy==1.11.2
scipy==0.18.1
setuptools==28.1.0
word2vec==0.9.1
Flask==0.11.1
matplotlib==2.0.0b4
progressbar2==3.10.1
scikit_learn==0.18
snowballstemmer==1.2.1
typing==3.5.2
